<%=form_with model: member, scope:"",url: "/SignUp.asp?showmenu=1&lang=fr", html: {name: "SignUpForm"} do |form|%>
         <table class="TblInputForm" width="100%" border="0" cellpadding="1" cellspacing="1">

           <tr class="SectionHead">
             <td colspan="5">Langues
             </td>
           </tr>

           <tr ID="NLRow">
             <td><font color="red"><b>*</b></font><%=highlight(Member.human_attribute_name("selX3"),Member.human_attribute_name("selX3"), highlighter: (member.errors[:selX3][0] ? '<font color="#FF0000"><b>\1</b> </font>'  : '<b>\1</b>'))%></td>
             <td colspan="4">
                <script>$(document).ready(function() {    $(".select-suggestselX3").select2();});</script>
<%=form.select "selX3", Language.all.collect {|p| [ p.name, p.id ] }, {include_blank: ""}, {id:"selX3", size:"1",class:"select-suggestselX3"}%>

                  <span ID="NLf"> <a href="" onclick="InsertNLa(); return false;"><img src="images/add.gif" border="0" alt="Inscrire une langue maternelle supplémentaire" WIDTH="16" HEIGHT="16"></a></span>
             </td>
           </tr>

           <tr ID="PLRow">
             <td><font color="red"><b>*</b></font><%=highlight(Member.human_attribute_name("selX6"),Member.human_attribute_name("selX6"), highlighter: (member.errors[:selX6][0] ? '<font color="#FF0000"><b>\1</b> </font>'  : '<b>\1</b>'))%></td>
             <td colspan="4">
                <script>$(document).ready(function() {    $(".select-suggestselX6").select2();});</script>
<%=form.select "selX6", Language.all.collect {|p| [ p.name, p.id ] }, {include_blank: ""}, {id:"selX6", size:"1",class:"select-suggestselX6"}%>

                  <span ID="PLf"> <a href="" onclick="InsertPLa(); return false;"><img src="images/add.gif" border="0" alt="Inscrire une langue à pratiquer supplémentaire" WIDTH="16" HEIGHT="16"></a></span>
             </td>
           </tr>

           <tr class="SectionHead">
             <td colspan="2">Type de pratique désiré
             </td>
           </tr>

					<tr>
					 <td><b>courriel</b></td>
					 <td align=left>
<%=form.check_box 'selX4', {class: 'Toggle', id: 'selX4'}, "true", "false"%>

<label for='selX4'></label></td>
					</tr>
					<tr>
					 <td><b>chat classique</b></td>
					 <td align=left>
<%=form.check_box 'selIsWantTextChat', {class: 'Toggle', id: 'selIsWantTextChat'}, "true", "false"%>
<label for='selIsWantTextChat'></label></td>
					</tr>
					<tr>
					 <td><b>chat vocal</b></td>
					 <td align=left>
<%=form.check_box 'selX13', {class: 'Toggle', id: 'selX13'}, "true", "false"%>

<label for='selX13'></label></td>
					 </td>
					</tr>
					<tr>
					 <td><b>en personne</b></td>
					 <td align=left>
<%=form.check_box 'selIsWantFace', {class: 'Toggle', id: 'selIsWantFace'}, "true", "false"%>

<label for='selIsWantFace'></label></td>
					</tr>
					<tr>

						<td colspan=2>
				<a href='' onclick='EmailNoPartnerPopUp(); return false;' title='Aide pop-up'>Si je ne désire pas être contacté</a><br><br>
						</td>
					</tr>

			<tr class="SectionHead">
             <td colspan="2">&nbsp;
             </td>
           </tr>

           <tr>
             <td>Je suis un professeur et je cherche une autre classe pour faire un échange avec mes étudiants. </td>
             <td valign="top" colspan="3">
<%=form.select'selIsClass',[["oui","true"],["non","false"]],{include_blank: ""}, {id: 'selIsClass'}%>
				 <span ID="nStudents">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
					<font color="red"><b>*</b></font><%=highlight(Member.human_attribute_name("txtNStudents"),Member.human_attribute_name("txtNStudents"), highlighter: (member.errors[:txtNStudents][0] ? '<font color="#FF0000"><b>\1</b> </font>'  : '<b>\1</b>'))%>
					&nbsp;
<%=form.number_field "txtNStudents", id: "txtNStudents", width: "4", style:"width: 80px;", maxlength:"3", min: "0", max: "130", step: "1"%>
				 </span>
			 </td>
           </tr>
 
           <tr>
             <td colspan="5">
               <br>
               <IMG name="renewSession" ID="renewSession" SRC="RenewSession.asp" width=1 height=1>
               <font color="red"><b>*</b></font><%=highlight(Member.human_attribute_name("txaDescr"),Member.human_attribute_name("txaDescr"), highlighter: (member.errors[:txaDescr][0] ? '<font color="#FF0000"><b>\1</b> </font>'  : '<b>\1</b>'))%> Parlez-nous un peu de vous - vos goûts et vos intérêts, pourquoi vous désirez apprendre cette langue, etc. :-) Ecrivez dans la langue de votre choix.
               <small><font color=black>(N'écrivez pas vos adresses de correspondance.)</font></small><br>
               <%=form.text_area "txaDescr", wrap: "VIRTUAL",id: "txaDescr", rows:"5", cols: "44", style: "width:99%;"%>
<br>
             </td>
           </tr>

           <tr class="SectionHead">
             <td colspan="5">Pour entrer sur le site
             </td>
           </tr>

		  <%=form.hidden_field :hidsUID, id: "hidsUID" %>
           <!--tr>
             <td>
               <font color="red"><b>*</b></font><b>Nom d'usager:</b>
               <a href='' title='pop up aide' onclick='UserIDPopUp(); return false;'>Qu'est-ce que c'est?</a>
             </td>
             <td colspan="4">
               <%= form.text_field "txtUID", id: "txtUID", width: "15", style: "width: 150px;", maxlength: "60"%>
&nbsp;
             </td>
           </tr-->

		   
           <tr>
             <td><font color="red"><b>*</b></font><%=highlight(Member.human_attribute_name("pasPassw"),Member.human_attribute_name("pasPassw"), highlighter: (member.errors[:pasPassw][0] ? '<font color="#FF0000"><b>\1</b> </font>'  : '<b>\1</b>'))%></td>
             <td colspan="4">
<%=form.password_field "pasPassw", id: "pasPassw", size: "15", maxlength: "15", required: true%>
</td>
           </tr>

           <tr>
             <td><font color="red"><b>*</b></font><%=highlight(Member.human_attribute_name("pasPassw_2"),Member.human_attribute_name("pasPassw_2"), highlighter: (member.errors[:pasPassw_2][0] ? '<font color="#FF0000"><b>\1</b> </font>'  : '<b>\1</b>'))%></td>
             <td colspan="4">
<%=form.password_field "pasPassw_2", id: "pasPassw_2", size: "15", maxlength: "15", required: true%>
</td>
           </tr>

           <tr>
             <td>Truc pour vous rappeler de votre mot de passe:</td>
             <td colspan="4">
<%=form.text_field "txtPasswRem", id: "txtPasswRem", width: "15", style: "width: 150px;", maxlength: "80"%>

</td>
           </tr>
		   

           <tr>
             <td><font color="red"><b>*</b></font><%=highlight(Member.human_attribute_name("txtEmail"),Member.human_attribute_name("txtEmail"), highlighter: (member.errors[:txtEmail][0] ? '<font color="#FF0000"><b>\1</b> </font>'  : '<b>\1</b>'))%><br>
                <A href='' onclick='PrivacyPopUp(); return false;'>Politique sur la protection de la vie privée</A> -
                <a href='' onclick='EmailWhyPopUp(); return false;'>Pourquoi</a> - 
                <a href='' onclick='HiddenEmailPopUp(); return false;'>Protégée</a>             
             </td> 
             <td colspan="3" valign="top">
<%=form.email_field "txtEmail", id: "txtEmail", width: "15", style: "width: 150px;", maxlength: "80"%>
</td>
           </tr>

           <tr>
             <td>
               <font color="red"><b>*</b></font><%=highlight(Member.human_attribute_name("txtEmail2"),Member.human_attribute_name("txtEmail2"), highlighter: (member.errors[:txtEmail2][0] ? '<font color="#FF0000"><b>\1</b> </font>'  : '<b>\1</b>'))%><br>
               <a href='' onclick='EmailWhiteListPopUp(); return false;' title='Ajuster vos filtres de courrier indésirable - pop up aide'>Veuillez ajuster vos filtres de courrier indésirable</a>
             </td>
             <td colspan="3" valign="top">
<%=form.email_field "txtEmail2", id: "txtEmail2", width: "15", style: "width: 150px;", maxlength: "80"%>

</td>
           </tr>

           <tr class="SectionHead">
             <td colspan="5">&nbsp;&nbsp;<br>
             </td>
           </tr>

           <tr>
             <td colspan="5">
         <%=form.hidden_field "hidFN", id:"hidFN"%>
         <%=form.hidden_field "hidLN", id:"hidLN"%>
         <%=form.hidden_field "hidAge", id:"hidAge"%>
         <%=form.hidden_field "hidUTime", id:"hidUTime"%>
         <%=form.hidden_field "hidTimeZ", id:"hidTimeZ"%>
         <%=form.hidden_field "hidHP", id:"hidHP"%>
         <%=form.hidden_field "hidCL1", id:"hidCL1"%>
         <%=form.hidden_field "hidCL2", id:"hidCL2"%>
         <%=form.hidden_field "hidCL3", id:"hidCL3"%>
         <%=form.hidden_field "hidCountry", id:"hidCountry"%>
         <%=form.hidden_field "hidLoc", id:"hidLoc"%>
         <%=form.hidden_field "hidGender", id:"hidGender"%>
         <%=form.hidden_field "hidMemberAgree", id:"hidMemberAgree"%>
         <input type="hidden" value="true" name="hidWantNews", id:"hidWantNews"%>
         <input type="hidden" value="true" name="hidWantAds", id:"hidWantAds"%>
 
         <input type="hidden" value="False" name="hidEditPro", id:"hidEditPro"%>  
         <input type="hidden" value="1" name="hidProc", id:"hidProc"%>  
         
           <input type="submit" value="Soumettre" id="submit1" name="submit1">
         
         <input type="hidden" value="1" name="showmenu" id="showmenu">
             </td>
           </tr>
         </table>
       <%end%>