<td style="padding: 5px;" width="100%" valign="top">
				

                <!-- Page Begin -->
<h2>Job Wanted Ads - Resumes of Job Seekers - Languages and Related Fields</h2>

<b>View All Resumes</b><br>
<br>
	
  Click on a title for details.<br>
  <br>
  
<style>
.PageNumBig {
	display: inline-block;
	padding: 6px 10px; 
	margin: 1px 0px; 
	border-radius: 4px; 
	color: gray;/*#854514;*/
	font-size: 12px;
	background-color: #f5f2f0; /*#f2f2f2; */
	border: 1px solid gray;/*#877364;*/
}
.PageNumBig:hover {
	font-size: 12px;
	background-color: #cccccc; /*#cccccc; */
}
.PageNumActive {
	display: inline-block;
	padding: 6px 10px; 
	margin: 1px 0px; 
	border-radius: 4px; 
	color: black;
	font-size: 12px;
	font-weight: bold;
	background-color: white;
	border: 1px solid #cb6a1f;
}
.PageArrow {
	display: inline-block;
	padding: 6px 24px; 
	margin: 1px 0px; 
	border-radius: 4px; 
	color: gray;/*#854514;*/
	font-size: 12px;
	background-color: #f5f2f0; /*#f2f2f2; */
	border: 1px solid gray;/*#877364;*/
}
.PageArrow:hover {
	font-size: 12px;
	background-color: #cccccc; /*#cccccc;*/
}
.PageGoBtn{
	display: inline-block;
	padding: 6px 10px; 
	margin: 1px 0px; 
	font-size: 12px;
	border: 1px outset slategray ;
}
</style>			
Total found: <%=@jobseekers.length%> !<br>
    <%=link_to_unless_current(1, "/Jobs-resumes-Listings.asp",{class:"PageNumBig"}) do
    ("<span class=\"PageNumActive\">#{1}</span>".html_safe)
    end%>
    <%(2..(@jobseekers.length/30)).each do |nb|%>
    <%=link_to_unless_current(nb, "/Jobs-resumes-Listings.asp?Cnt=#{nb}",{class:"PageNumBig"}) do
    ("<span class=\"PageNumActive\">#{nb}</span>".html_safe)
    end%>
     &nbsp;
				<script>
				if ($(window).width()>420){
					document.write('<a class="PageNumBig" href="/Jobs-resumes-Listings.asp?Cnt=<%=nb%>"><%=nb%></a> &nbsp;');
				}
				</script>
    <%end%>
    
  
     
     <svg class="svg-inline--fa fa-arrow-right fa-w-14" aria-hidden="true" data-prefix="fas" data-icon="arrow-right" role="img" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 448 512" data-fa-i2svg=""><path fill="currentColor" d="M190.5 66.9l22.2-22.2c9.4-9.4 24.6-9.4 33.9 0L441 239c9.4 9.4 9.4 24.6 0 33.9L246.6 467.3c-9.4 9.4-24.6 9.4-33.9 0l-22.2-22.2c-9.5-9.5-9.3-25 .4-34.3L311.4 296H24c-13.3 0-24-10.7-24-24v-32c0-13.3 10.7-24 24-24h287.4L190.9 101.2c-9.8-9.3-10-24.8-.4-34.3z"></path></svg><!-- <i class="fas fa-arrow-right notranslate"></i> --></a> &nbsp;<br>
  <div style="overflow-x:auto;">	
      <%if @jobseekers.length > 0%>
  <table class="TblDataRecs TblSrchResults" cellspacing="0" cellpadding="3" border="1">
  <tbody><tr class="table-heading">
     <td valign="bottom">Resume Title</td>
     <!-- td width="1%" valign="bottom" nowrap><b><font color=ivory>Name</font></b></td -->
     <td width="1%" valign="bottom" nowrap="">City,<br>Country</td>
     <td width="1%" valign="bottom" nowrap="">Date</td>
     <td width="1%" valign="bottom" nowrap=""># Views</td>
  </tr>
  <%@jobseekers.each do |jobseeker|%>
  	<tr>
  	  <td valign="top">
  	  <b><a href="Jobs-Resumes-View.asp?Id=4751">a profesional Chinese teacher and dancer</a></b>
  	  </td>
  	  <!-- td valign="top"></td -->
  	  <td valign="top">
  	    Leiden,<br>Netherlands
  	  </td>
  	  <td valign="top">July 13, 2022</td>
  	  <td valign="top" align="right">8</td>
  	</tr>
    <%end%>
  	
    
  </tbody></table>
      <%else%>
      Aucune annonce trouvée.
      <%end%>
  </div>
  
<style>
.PageNumBig {
	display: inline-block;
	padding: 6px 10px; 
	margin: 1px 0px; 
	border-radius: 4px; 
	color: gray;/*#854514;*/
	font-size: 12px;
	background-color: #f5f2f0; /*#f2f2f2; */
	border: 1px solid gray;/*#877364;*/
}
.PageNumBig:hover {
	font-size: 12px;
	background-color: #cccccc; /*#cccccc; */
}
.PageNumActive {
	display: inline-block;
	padding: 6px 10px; 
	margin: 1px 0px; 
	border-radius: 4px; 
	color: black;
	font-size: 12px;
	font-weight: bold;
	background-color: white;
	border: 1px solid #cb6a1f;
}
.PageArrow {
	display: inline-block;
	padding: 6px 24px; 
	margin: 1px 0px; 
	border-radius: 4px; 
	color: gray;/*#854514;*/
	font-size: 12px;
	background-color: #f5f2f0; /*#f2f2f2; */
	border: 1px solid gray;/*#877364;*/
}
.PageArrow:hover {
	font-size: 12px;
	background-color: #cccccc; /*#cccccc;*/
}
.PageGoBtn{
	display: inline-block;
	padding: 6px 10px; 
	margin: 1px 0px; 
	font-size: 12px;
	border: 1px outset slategray ;
}
</style>			
Total found: <%=@jobseekers.length%> !<br>
    <%=link_to_unless_current(1, "/Jobs-resumes-Listings.asp",{class:"PageNumBig"}) do
    ("<span class=\"PageNumActive\">#{1}</span>".html_safe)
    end%>
    <%(2..(@jobseekers.length/30)).each do |nb|%>
    <%=link_to_unless_current(nb, "/Jobs-resumes-Listings.asp?Cnt=#{nb}",{class:"PageNumBig"}) do
    ("<span class=\"PageNumActive\">#{nb}</span>".html_safe)
    end%>
     &nbsp;
				<script>
				if ($(window).width()>420){
					document.write('<a class="PageNumBig" href="/Jobs-resumes-Listings.asp?Cnt=<%=nb%>"><%=nb%></a> &nbsp;');
				}
				</script>
    <%end%>
                            
                            <svg class="svg-inline--fa fa-arrow-right fa-w-14" aria-hidden="true" data-prefix="fas" data-icon="arrow-right" role="img" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 448 512" data-fa-i2svg=""><path fill="currentColor" d="M190.5 66.9l22.2-22.2c9.4-9.4 24.6-9.4 33.9 0L441 239c9.4 9.4 9.4 24.6 0 33.9L246.6 467.3c-9.4 9.4-24.6 9.4-33.9 0l-22.2-22.2c-9.5-9.5-9.3-25 .4-34.3L311.4 296H24c-13.3 0-24-10.7-24-24v-32c0-13.3 10.7-24 24-24h287.4L190.9 101.2c-9.8-9.3-10-24.8-.4-34.3z"></path></svg><!-- <i class="fas fa-arrow-right notranslate"></i> --></a> &nbsp;<br>
<br>
<br>
<a href="Jobs.asp">Job Center Home</a>


<br>
<br>

				<br>
				<br>
				<!-- FB Like -->
				<div class="fb-like fb_iframe_widget" data-href="https://www.mylanguageexchange.com/Jobs-resumes-Listings.asp" data-layout="button_count" data-action="like" data-size="small" data-show-faces="true" data-share="true" fb-xfbml-state="rendered" fb-iframe-plugin-query="action=like&amp;app_id=&amp;container_width=846&amp;href=https%3A%2F%2Fwww.mylanguageexchange.com%2FJobs-resumes-Listings.asp&amp;layout=button_count&amp;locale=en_US&amp;sdk=joey&amp;share=true&amp;show_faces=true&amp;size=small"><span style="vertical-align: top; width: 0px; height: 0px; overflow: hidden;"><iframe name="f224ea13d4c6d4a" data-testid="fb:like Facebook Social Plugin" title="fb:like Facebook Social Plugin" allowtransparency="true" allowfullscreen="true" scrolling="no" allow="encrypted-media" style="border: medium none; visibility: visible; width: 0px; height: 0px;" src="https://www.facebook.com/v2.9/plugins/like.php?action=like&amp;app_id=&amp;channel=https%3A%2F%2Fstaticxx.facebook.com%2Fx%2Fconnect%2Fxd_arbiter%2F%3Fversion%3D46%23cb%3Df1ef00f474801bc%26domain%3Dmylanguageexchange.com%26is_canvas%3Dfalse%26origin%3Dhttps%253A%252F%252Fmylanguageexchange.com%252Ff29f2421d9f996c%26relation%3Dparent.parent&amp;container_width=846&amp;href=https%3A%2F%2Fwww.mylanguageexchange.com%2FJobs-resumes-Listings.asp&amp;layout=button_count&amp;locale=en_US&amp;sdk=joey&amp;share=true&amp;show_faces=true&amp;size=small" width="1000px" height="1000px" frameborder="0"></iframe></span></div>				
				&nbsp;&nbsp;
                </td>
