<td colspan="2" valign="top" bgcolor="#FFFFFF" align="left">
          <hr width="100%" size="1">
        <!-- Page Begin -->
<table class="TblNarrowBlock" width="100%" cellspacing="0" cellpadding="0" border="0">
    <tbody><tr>
        <td style="max-width: 572px;" valign="top">


<h2>Find Language Learners</h2>
<h2><a href="default.asp">Home</a> &gt; <a href="Search-Learner.asp">Learners</a></h2>  
    
    Find a language learner who is seeking a teacher, school, class or tutor.<br>
    <br>
    Click on a language below to <a href="#BrowseByLang">browse by language</a>. <br>
    Click on a location in the right menu to narrow your search results by country or city.<br>
    <br>
    Click <a href="#SearchForm">here</a> to use the advanced search form.<br>
    <br>
    <br>
    <b><font color="DarkGreen">Teachers and Schools</font></b>:<br>
    <br>
    Click <a href="SignUpTeacher.asp?showmenu=1">here</a> to create your free profile.<br>
    Click <a href="FAQs.asp">here</a> for FAQ's about how this works.<br>
    <br>
    <br>

<a name="BrowseByLang"></a>
<br>
<table style="max-width: 578px; width:100%" cellspacing="0" cellpadding="1" border="0" bgcolor="SeaGreen" align="center">
    <tbody><tr>
        <td>
<table class="TblListMenu" width="100%" cellspacing="0" cellpadding="8" border="0" bgcolor="Ivory" align="center">
      <tbody><tr>
        <td bgcolor="ivory" align="left">
        <h2>Browse Language Learner Profiles by Language</h2>
    
        <table class="TblListMenuCol" width="33%" cellspacing="0" cellpadding="0" border="0" align="left">
        
          <tbody>
              <%Language.all.each do |language|%>
              <tr>
            <td>
              <a href="/Teachers/Search-Learner.asp?selX6=<%=language.id%>" title="Afrikaans teacher wanted ads" class="DirLinks">Afrikaans</a>
            </td>
          </tr>
      
          
      
      </tbody></table>
    
    <br clear="all">
        </td>
      </tr>
    </tbody></table>
        </td>
      </tr>
    </tbody></table>
    <br>  
    <br>  


<a name="SearchForm"></a>
<h2>Search for Teacher Wanted Ads</h2>


  <table class="TblInputForm" cellspacing="0" cellpadding="1" border="1" bgcolor="Ivory">
   <tbody><tr class="table-heading">
	   <td colspan="2">
			<b>Language Learners Search</b>
	   </td>
   </tr>
   
   <form method="get" action="/Teachers/Search-Learner.asp" id="form1" name="form1"></form>
   <tr>
     <td colspan="2">  
       
       <div align="left">
         Find a language learner who has:
         <div style=" font-size: 8pt;">You don't have to fill all fields.</div>
       </div>
	   <br>
     </td>
   </tr>
     
       <!--table border="1" cellpadding="1" cellspacing="0" align="center" bordercolor="#d4e6d4" bordercolorlight="Ivory"-->
           <tr>
             <td nowrap="">Learning language</td>
             <td><script>$(document).ready(function() {    $('.select-suggestselX6').select2();});</script><select name="selX6" id="selX6" size="1" class="select-suggestselX6 select2-hidden-accessible" data-select2-id="selX6" tabindex="-1" aria-hidden="true"><option value="null" data-select2-id="2">- All -</option><option value="77">Afrikaans</option><option value="60">Albanian</option><option value="94">Amharic (Ethiopian)</option><option value="18">Arabic, Egyptian</option><option value="3">Arabic, Middle Eastern</option><option value="2">Arabic, Moroccan</option><option value="4">Arabic, other</option><option value="82">Aramaic</option><option value="64">Armenian</option><option value="78">Assyrian</option><option value="72">Azerbaijani</option><option value="7">Basque</option><option value="8">Bengali</option><option value="9">Berber</option><option value="59">Bosnian</option><option value="10">Bulgarian</option><option value="97">Burmese</option><option value="65">Cambodian (Khmer)</option><option value="55">Catalan</option><option value="104">Cebuano (Bisaya)</option><option value="95">Chichewa (Nyanja)</option><option value="11">Chinese, Cantonese</option><option value="12">Chinese, Mandarin</option><option value="13">Chinese, other</option><option value="14">Creole</option><option value="83">Croatian</option><option value="15">Czech</option><option value="16">Danish</option><option value="17">Dutch</option><option value="1">English</option><option value="19">Esperanto</option><option value="63">Estonian</option><option value="88">Fijian</option><option value="20">Filipino (Tagalog)</option><option value="21">Finnish</option><option value="22">French</option><option value="68">Gaelic (Irish)</option><option value="69">Gaelic (Scottish)</option><option value="79">Galician</option><option value="110">Ganda (Luganda)</option><option value="71">Georgian</option><option value="23">German</option><option value="24">Greek</option><option value="74">Gujarati</option><option value="112">Hausa</option><option value="73">Hawaiian</option><option value="25">Hebrew</option><option value="26">Hindi</option><option value="27">Hungarian</option><option value="56">Icelandic</option><option value="108">Igbo (Ibo)</option><option value="5">Indonesian</option><option value="28">Iranian</option><option value="29">Italian</option><option value="30">Japanese</option><option value="107">Kachchi</option><option value="67">Kannada</option><option value="91">Kazakh</option><option value="31">Korean</option><option value="53">Kurdish</option><option value="103">Kyrgyz</option><option value="84">Lao</option><option value="57">Latin</option><option value="62">Latvian</option><option value="61">Lithuanian</option><option value="66">Lombard</option><option value="87">Macedonian</option><option value="93">Malayalam</option><option value="6">Malaysian</option><option value="96">Maltese</option><option value="85">Marathi</option><option value="106">Montenegrin</option><option value="101">Native American (Ojibway, Cree, Algonquian, etc.)</option><option value="81">Nepali</option><option value="32">Norwegian (Norsk)</option><option value="90">Oriya</option><option value="33">Persian (Farsi, Dari)</option><option value="34">Polish</option><option value="35">Portuguese</option><option value="36">Punjabi</option><option value="58">Pushto (Pashto)</option><option value="80">Quechua</option><option value="37">Romanian</option><option value="89">Romansch</option><option value="38">Russian</option><option value="109">Rwanda (Kinyarwanda, Urunyaruanda)</option><option value="99">Sanskrit</option><option value="39">Serbian (Serbo-Croatian)</option><option value="40">Sign Language</option><option value="76">Sindhi</option><option value="86">Sinhalese</option><option value="41">Slovak</option><option value="54">Slovenian</option><option value="100">Somali</option><option value="42">Spanish</option><option value="43">Swahili</option><option value="44">Swedish</option><option value="111">Swiss German</option><option value="45">Tamil</option><option value="75">Telugu</option><option value="46">Thai</option><option value="47">Tibetan</option><option value="105">Tigrigna (Tigray, Tigrinya)</option><option value="92">Tswana</option><option value="102">Tumbuka</option><option value="48">Turkish</option><option value="49">Ukrainian</option><option value="50">Urdu</option><option value="114">Uzbek</option><option value="51">Vietnamese</option><option value="70">Welsh</option><option value="52">Yiddish</option><option value="113">Yoruba</option></select><span class="select2 select2-container select2-container--default" dir="ltr" data-select2-id="1" style="width: 328.133px;"><span class="selection"><span class="select2-selection select2-selection--single" role="combobox" aria-haspopup="true" aria-expanded="false" tabindex="0" aria-labelledby="select2-selX6-container"><span class="select2-selection__rendered" id="select2-selX6-container" role="textbox" aria-readonly="true" title="- All -">- All -</span><span class="select2-selection__arrow" role="presentation"><b role="presentation"></b></span></span></span><span class="dropdown-wrapper" aria-hidden="true"></span></span></td>
           </tr>

           <tr>
             <td nowrap="">Wants to learn via</td>
             <td>
                             
               <select name="selDelivery" id="selDelivery">  
                 <option value="">
                 </option><option value="1">Internet or telephone
                 </option><option value="2">Live, in person
               </option></select> 
             </td>
           </tr>

           <tr>
             <td nowrap="">City</td>
             <td>
               <input type="text" id="txtCity" name="txtCity" value="">
             </td>
           </tr>

           <tr>
             <td nowrap="">State/Province/Region</td>
             <td>
               <input type="text" id="txtState" name="txtState" value=""><br>
               <small><font color="gray">Hint: Search for common abbreviations as well.</font></small>
             </td>
           </tr>

           <tr>
             <td nowrap="">Country</td>
             <td><script>$(document).ready(function() {    $('.select-suggestselCountry').select2();});</script><select name="selCountry" id="selCountry" size="1" class="select-suggestselCountry select2-hidden-accessible" data-select2-id="selCountry" tabindex="-1" aria-hidden="true"><option value="null" data-select2-id="4">- All -</option><option value="98">- Other -</option><option value="1">Afghanistan</option><option value="105">Algeria</option><option value="2">Argentina</option><option value="3">Armenia</option><option value="4">Australia</option><option value="5">Austria</option><option value="115">Azerbaijan</option><option value="6">Bahamas</option><option value="7">Bahrain</option><option value="8">Bangladesh</option><option value="104">Barbados</option><option value="9">Belarus</option><option value="10">Belgium</option><option value="11">Belize</option><option value="12">Bolivia</option><option value="13">Bosnia and Herzegovina</option><option value="14">Brazil</option><option value="15">Bulgaria</option><option value="16">Cambodia</option><option value="17">Cameroon</option><option value="18">Canada</option><option value="19">Cayman Islands</option><option value="111">Central African Republic</option><option value="20">Chile</option><option value="21">China</option><option value="22">Colombia</option><option value="108">Congo</option><option value="23">Costa Rica</option><option value="24">Croatia</option><option value="25">Cuba</option><option value="130">Cyprus</option><option value="26">Czech Republic</option><option value="27">Denmark</option><option value="28">Dominican Republic</option><option value="29">Ecuador</option><option value="30">Egypt</option><option value="31">El Salvador</option><option value="122">England</option><option value="117">Estonia</option><option value="119">Ethiopia</option><option value="32">Finland</option><option value="33">France</option><option value="114">Georgia</option><option value="34">Germany</option><option value="35">Ghana</option><option value="36">Great Britain</option><option value="37">Greece</option><option value="125">Guam</option><option value="38">Guatemala</option><option value="39">Haiti</option><option value="40">Honduras</option><option value="41">Hong Kong</option><option value="42">Hungary</option><option value="43">Iceland</option><option value="44">India</option><option value="45">Indonesia</option><option value="46">Iran</option><option value="47">Iraq</option><option value="48">Ireland</option><option value="49">Israel</option><option value="50">Italy</option><option value="51">Jamaica</option><option value="52">Japan</option><option value="53">Jordan</option><option value="54">Kenya</option><option value="55">Kuwait</option><option value="134">Kyrgyzstan</option><option value="112">Lao</option><option value="121">Latvia</option><option value="56">Lebanon</option><option value="57">Liberia</option><option value="116">Lithuania</option><option value="58">Luxembourg</option><option value="103">Macedonia</option><option value="120">Malawi</option><option value="59">Malaysia</option><option value="138">Maldives</option><option value="113">Malta</option><option value="99">Mauritius</option><option value="60">Mexico</option><option value="136">Moldova</option><option value="61">Monaco</option><option value="128">Mongolia</option><option value="133">Montenegro</option><option value="62">Morocco</option><option value="129">Nepal</option><option value="63">Netherlands</option><option value="64">New Zealand</option><option value="65">Nicaragua</option><option value="109">Niger</option><option value="118">Nigeria</option><option value="66">North Korea</option><option value="124">Northern Ireland</option><option value="67">Norway</option><option value="68">Oman</option><option value="135">Pakistan</option><option value="70">Panama</option><option value="71">Paraguay</option><option value="72">Peru</option><option value="73">Philippines</option><option value="74">Poland</option><option value="75">Portugal</option><option value="76">Puerto Rico</option><option value="77">Qatar</option><option value="78">Romania</option><option value="79">Russia</option><option value="137">Rwanda</option><option value="80">Saudi Arabia</option><option value="81">Scotland</option><option value="82">Singapore</option><option value="100">Slovakia</option><option value="101">Slovenia</option><option value="83">Somalia</option><option value="84">South Africa</option><option value="85">South Korea </option><option value="86">Spain</option><option value="107">Sudan</option><option value="87">Sweden</option><option value="88">Switzerland</option><option value="89">Syria</option><option value="90">Taiwan</option><option value="110">Tanzania</option><option value="91">Thailand</option><option value="106">Tunisia</option><option value="92">Turkey</option><option value="131">Ukraine</option><option value="93">United Arab Emirates</option><option value="94">United States</option><option value="95">Uruguay</option><option value="96">Venezuela</option><option value="97">Vietnam</option><option value="123">Wales</option><option value="102">Yugoslavia</option></select><span class="select2 select2-container select2-container--default" dir="ltr" data-select2-id="3" style="width: 176.117px;"><span class="selection"><span class="select2-selection select2-selection--single" role="combobox" aria-haspopup="true" aria-expanded="false" tabindex="0" aria-labelledby="select2-selCountry-container"><span class="select2-selection__rendered" id="select2-selCountry-container" role="textbox" aria-readonly="true" title="- All -">- All -</span><span class="select2-selection__arrow" role="presentation"><b role="presentation"></b></span></span></span><span class="dropdown-wrapper" aria-hidden="true"></span></span></td>
           </tr>

           <tr>
             <td>Sort results by:</td>
             <td>
                             
               <select name="selOrder" id="selOrder">  
                 <option selected="" value="s1">Profile Date
                 </option><option value="s2">Last Login Date
                 </option><option value="s3">Name
               </option></select> 
             </td>
           </tr>
           
           <tr>
             <td colspan="2" align="center">
			 <br>
       <input type="submit" value="Search" id="submit1" name="submit1">
             </td>
           </tr>

	
  </tbody></table>
  
        


        </td>
        
        <!-- Space column -->
        <td width="6">
          <img src="images/spacer.gif" width="3" height="1" border="0">
        </td>
        
        
        <!-- Right Column-->
        <td width="176px" valign="top" align="center">
<table width="100%" cellspacing="0" cellpadding="1" border="0" bgcolor="SeaGreen" align="center">
    <tbody><tr>
        <td>
<table width="100%" cellspacing="0" cellpadding="8" border="0" bgcolor="Ivory" align="center">
    <tbody><tr>
        <td>
<table width="100%" cellspacing="0" cellpadding="0" border="0" bgcolor="SeaGreen" align="center">
    <tbody><tr>
        <td>
<table class="TblListMenuCol" width="100%" cellspacing="1" cellpadding="0" border="0">
  <tbody><tr valign="middle" bgcolor="#e9f2e9" align="left">
    <td valign="middle" height="20" align="center">
      
        <span title="Teacher Wanted Ads"><font style="font-family: verdana; font-size: 8pt; font-weight: normal;">Browse for Language Learners by Country</font></span>
      
      <br>
      <br>
  <%Country.all.each do |country|%>
        <a href="/Teachers/Search-Learner.asp?selCountry=<%=country.id%>" title="<%=country.nationality%> teacher<%if !country.name_en.include?('Other')%> wanted ads in <%=country.name%><%else%>s<%end%>" class="DirLinks"><%=country.name%></a><br>
      
        
    
    <br clear="all">

    <font style="font-family: verdana; font-size: 10pt; font-weight: normal;">Your city not listed?<br> Search by state, province or region
    <a href="#SearchForm" class="DirLinks">here</a>.</font>
    <br>
    </td>
  </tr>
</tbody></table>
        </td>
    </tr>
</tbody></table>
        </td>
    </tr>
</tbody></table>
        </td>
    </tr>
</tbody></table>


<br>
<br>

        </td>
    </tr>
</tbody></table>

            <!-- End of Page contents -->
              <!-- Facebook Like, etc. -->
              <br>
              <br>
              <br>
              <br>
              <fb:like href="http://www.mylanguageexchange.com/Teachers/Search-Learner.asp" send="true" width="310px" show_faces="true" class=" fb_iframe_widget" fb-xfbml-state="rendered" fb-iframe-plugin-query="app_id=254680024583689&amp;container_width=0&amp;href=http%3A%2F%2Fwww.mylanguageexchange.com%2FTeachers%2FSearch-Learner.asp&amp;locale=en_US&amp;sdk=joey&amp;send=true&amp;show_faces=true&amp;width=310px"><span style="vertical-align: top; width: 0px; height: 0px; overflow: hidden;"><iframe name="f312a07b58d213" data-testid="fb:like Facebook Social Plugin" title="fb:like Facebook Social Plugin" allowtransparency="true" allowfullscreen="true" scrolling="no" allow="encrypted-media" style="border: medium none; visibility: visible; width: 0px; height: 0px;" src="https://www.facebook.com/plugins/like.php?app_id=254680024583689&amp;channel=https%3A%2F%2Fstaticxx.facebook.com%2Fx%2Fconnect%2Fxd_arbiter%2F%3Fversion%3D46%23cb%3Df2e63c92ef53c44%26domain%3Dmylanguageexchange.com%26is_canvas%3Dfalse%26origin%3Dhttps%253A%252F%252Fmylanguageexchange.com%252Ff28d79bde6f02f4%26relation%3Dparent.parent&amp;container_width=0&amp;href=http%3A%2F%2Fwww.mylanguageexchange.com%2FTeachers%2FSearch-Learner.asp&amp;locale=en_US&amp;sdk=joey&amp;send=true&amp;show_faces=true&amp;width=310px" height="1000px" frameborder="0"></iframe></span></fb:like>
              <br>
            </td>
