<td valign="top">
				<!-- Page Begin -->


Use voice chat to practice speaking the language you are learning with a native speaker 
anywhere in the world. We provide free, helpful guidelines and tips on <a href="https://mylanguageexchange.com/HowTo.asp">how</a> to do a language exchange, 
as well as free <a href="" onclick="CFOpen(0); return false;">lesson plans</a> designed by an 
<a href="https://mylanguageexchange.com/Helene.asp">expert</a> in 
language exchange learning. The activities are fun so you can easily "break the ice" with your 
new learning partner and get effective practice.<br>
<br>

<div id="BasicsInline">
<table class="TblCardSm" width="100%" cellspacing="0" cellpadding="2" border="0">
  <tbody><tr class="table-heading" valign="middle" align="left">
	<td valign="middle">
	  The Basics
	</td>
  </tr>
	<tr>
	  <td>
	  <a href="https://mylanguageexchange.com/faq.asp#_a1">What</a> is a language exchange?<br>
	</td></tr>
	<tr>
	  <td>
	  <a href="https://mylanguageexchange.com/faq.asp#_a2">Why</a>  do a language exchange?<br>
	</td></tr>
	<tr>
	  <td>
	  <a href="https://mylanguageexchange.com/HowTo.asp">How</a> to do a language exchange?<br>
	</td></tr>
	<tr>
	  <td>
	  <a href="https://mylanguageexchange.com/SignUp.asp?showmenu=1">Sign up</a> now - add your free profile!<br>
	</td></tr>
</tbody></table>	
	
<br>
<br>
</div>

<h2>Voice Chat Programs</h2>
Note, the voice chat room service on our site has been discontinued by our 
providers. Instead, we recommend you use one of the following free downloadable voice chat programs.
But of course, you can use any chat program you want. It is only necessary that both you and
your language exchange partner use the same voice chat program.<br>
<br>
<a name="Skype"></a>
<a target="_Blank" href="http://www.skype.com/"><b>Skype</b></a> is a free downloadable, 
real-time voice and text chat communications program. We recommend it, because 
<ul>
  <li>It has perhaps the best voice quality available anywhere (very important for foreign language practice!). 
  The quality is better than that of telephones and is perhaps the best of any Internet voice program.
  </li><li>It works with any firewall. 
  </li><li>It is available in 17 languages: Danish, Dutch, Estonian, English, Finnish, German, French, Hebrew, Japanese, 
Korean, Russian, Polish, Portuguese, Romanian, Simplified Chinese, Spanish and Swedish.  
  </li><li>It is very easy to install and use.
</li></ul>
Using Skype, you can have private simultaneous voice and text chat with up to four other people.
Skype requires a Windows 2000 or XP computer, Mac OS X or Linux computer or a Pocket PC.<br>
<br>
For more information or to download a free copy of Skype, please visit the Skype website 
<a target="_Blank" href="http://www.skype.com/">here</a>.<br>
<br>
<br>

<p>
<a name="Paltalk"></a>
<a href="http://www.paltalk.com/" target="_blank"><strong>Paltalk</strong></a>
is a free downloadable program that enables simultaneous voice and text 
chat. We recommend Paltalk because of its good voice quality. 
Also, it only requires a Windows 98 or later PC.
</p>
<p>
<b>Paltalk System Requirements</b>
</p><ul>
      <li>Windows 98/ME/NT4/2000/XP/2003 </li>
      <li>166MHz processor with 16MB of RAM </li>
      <li>Internet connection (28.8kbps minimum) </li>
      <li>Full-duplex sound card required (for Audio) </li>
      <li>Microphone/Speakers/Headset (for Audio) </li>
</ul>
<!-- a href="http://www.paltalk.com/paltalk/index9.html" target="_blank">Download</a> Paltalk.<br -->
<a href="http://www.paltalk.com/" target="_blank">Download</a> Paltalk.<br>
<br>
<br>
<p>
</p><h2>How to Practice a Foreign Language Using Voice Chat</h2><p></p>
<p>After you have installed Skype or another voice chat program, do this to start practicing.
</p><ol>
  <li>If you don't have a language exchange partner yet, find one <a href="https://mylanguageexchange.com/Search.asp">here</a>.</li>
  <li>Arrange to meet your partner at a certain time and chat room. (You can easily create and name your own private room in Paltalk.)</li>
  <li>Review the practice tips and guidelines <a href="https://mylanguageexchange.com/HowTo.asp">How to do a language exchange</a>.</li>
  <li>At the time of your practice session, meet your partner in the designated chat room.</li>
  <li>With a browser, come to this page and <a href="https://mylanguageexchange.com/login.asp?showmenu=1">log in</a> as a member.</li>
  <li><a href="" onclick="CFOpen(0); return false;">Launch</a> the chat companion to access the lesson plans and your own member notepad.</li>
  <li>Choose a lesson plan from the drop-down menu (lessons are 
available in English, French, Spanish, German, Chinese (simplified), 
Chinese (traditional), Japanese and Korean) 
    and start practicing! Record new vocabulary,
    slang and expressions in your searchable nember notepad located in 
the lower half of 
    the chat companion.</li>
</ol>
<p></p>

<br>
<br>
<h2>Find a Voice Chat Partner Now</h2>
<table class="TblListMenu" width="100%" cellspacing="0" cellpadding="0" border="0">
  <tbody><tr class="table-heading" valign="middle">
    <td valign="middle">
      <span title="International Voice Chat">Voice Chat Partners - Express Find by Language</span>
    </td>
  </tr>
  <tr>
    <td>

    <table class="TblListMenuCol" width="32%" cellspacing="1" cellpadding="1" align="left">
    
    <tbody>
        <%for language in Language.all%>
        <tr>
      <td>
        
        <a href="/Search.asp?selX3=<%=language.id%>&amp;selX13=true" title="<%=language.name%> voice chat partners"><%=language.name%> voice chat</a>
      
      </td>
    </tr>
  
    <%end%>
    </tbody></table>
    
<br clear="all">
    </td>
  </tr>
</tbody></table>




<br>
<table class="TblListMenu" width="100%" cellspacing="0" cellpadding="0" border="0">
  <tbody><tr class="table-heading" valign="middle">
    <td valign="middle">
      <span title="International Voice Chat">Voice Chat Partners - Express Find by Country</span>
    </td>
  </tr>
  <tr>
    <td>
<%for countries in Country.all.each_slice(50)%>
    <table class="TblListMenuCol" width="32%" cellspacing="1" cellpadding="1" align="left">
    
    <tbody>
        <%for country in countries%>
        <tr>
      <td>
        
      <a href="/Search.asp?selCountry=<%=country.id%>&amp;selX13=true" title="<%=country.name%> voice chat"><%=country.name%>&nbsp;( voice chat)</a>
      </td>
    </tr>
 <%end%>
  
    </tbody></table>
    
    <%end%>


<br clear="all">
    </td>
  </tr>
</tbody></table>


<br>    
  </td>
	<!-- MidCol End -->
