   <%=form_with model:hangman,scope:"", url: "HManBuilder.asp", html: {name: "HManBuilder"} do |form|%>
	   

         <table class="WidthMaxLim" border="0" cellpadding="0" cellspacing="0">
 		   
				<tr>
				  <td colspan=2>
				    <b><b>Enter the title of the game (must be a hint):</b> 
				  </td>
				</tr>

				<tr>
				  <td colspan=2>
				    For example, When you cannot see very well, you are...
				  </td>
				</tr>

				<tr>
				  <td colspan=2>
					<%=form.text_field "txtTitle", id:"txtTitle", style:"width: 96%;", maxlength:"120"%>
				  </td>	
				</tr>

				<tr>
				  <td colspan=2><br>
				    <b>Enter the phrase to guess:</b> 
				  </td>
				</tr>

				<tr>
				  <td colspan=2>
				    (Use any roman-based characters such as <b>A</b>, <b>À</b>, <b>à</b>, <b>a</b>, <b>ñ</b>, <b>z</b>, etc.)<br>
				    For example, blind as a bat. 
				  </td>
				</tr>

				<tr>
				  <td colspan=2>
					<%=form.text_field "txtGuess", id:"txtGuess",style:"width: 96%;", maxlength:"40"%>
				  </td>	
				</tr>
				
				<tr>
				  <td colspan=2><br>
				    <b><b>Language :</b> 
				  </td>
				</tr>

				<tr>
				  <td colspan=2><script>$(document).ready(function() {    $(".select-suggestselX3").select2();$('#select2-selCat2-container').html("<%=hangman.samplelanguage%>");});</script>
                                      
                                      <%=form.select "selX3", Language.all.collect {|p| [ p.name, p.id ] }, {include_blank: ""}, {id:"selX3", size:"1",class:"select-suggestselX3"}%>
                                      
                                  </td>
				</tr>

				<tr>
				  <td><br>
				    <b><b>Type of game :</b> 
				  </td>
				  <td><br>
				    <b><b>Category :</b> 
				  </td>
				</tr>

				<tr>
				  <td><script>$(document).ready(function() {    $(".select-suggestselCat1").select2();$('#select2-selCat1-container').html("<%=hangman.sampletype%>");});</script>
                                      <%=form.select "selCat1", Hangmantype.all.collect {|p| [ p.name, p.id ] }, {include_blank: ""}, {id:"selCat1", size:"1",class:"select-suggestselCat1"}%>
                                  
                                  
                                  </td>
				  <td><script>$(document).ready(function() {    $(".select-suggestselCat2").select2();$('#select2-selCat2-container').html("<%=hangman.samplecat%>");});</script>
                                      
                                      
                                      
                                      <%=form.select "selCat2", Hangmancat.all.collect {|p| [ p.name, p.id ] }, {include_blank: ""}, {id:"selCat2", size:"1",class:"select-suggestselCat2"}%>
                                  
                                  
                                  </td>
				</tr>


				<tr>
				</tr>

		   


	     </table>

         <table width="100%" border="0" cellpadding="0" cellspacing="0">
	       <tr>
	         <td>
				 <br>
				 
				<%=form.hidden_field "hidEditMode", id: "hidEditMode"%>  
				<%=form.hidden_field "hidGId", id: "hidGId"%>  
				<%=form.hidden_field "hidGuess", id: "hidGuess"%>  
				<%=form.hidden_field "hidHide", id: "hidHide"%>  
				<%=form.hidden_field "hidTitle", id: "hidTitle"%>  
				<%=form.hidden_field "hidX3", id: "hidX3"%>  
				<%=form.hidden_field "hidCat1", id: "hidCat1"%>  
				<%=form.hidden_field "hidCat2", id: "hidCat2"%>  
				<%=form.hidden_field "hidHint1", id: "hidHint1"%>  
				<%=form.hidden_field "hidHint2", id: "hidHint2"%>  
				<%=form.hidden_field "hidHint3", id: "hidHint3"%>
				<%=form.hidden_field "hidEquiv1", id: "hidEquiv1"%>  
				<%=form.hidden_field "hidEquiv2", id: "hidEquiv2"%>  
				<%=form.hidden_field "hidEquiv3", id: "hidEquiv3"%>  
				<%=form.hidden_field "hidDesc", id: "hidDesc"%>  
				<%=form.hidden_field "hidWinMsg", id: "hidWinMsg"%>  
				<%=form.hidden_field "hidLoseMsg", id: "hidLoseMsg"%>  
				<%=form.hidden_field "hidPTitle", id: "hidPTitle"%>
				<%=form.hidden_field "hidPGuess", id: "hidPGuess"%>
				<%=form.hidden_field "hidPGId", id: "hidPGId"%>
						   
						   
		          <input type="hidden" value="1" name="hidPnum" id="hidPnum">  
				
 		        <input type="submit" value="Next" id="submit1" name="submit1">
			 </td>
		   </tr>
         </table>
         
       <%end%>