<td style="padding: 5px;" width="100%" valign="top">
				

                <!-- Page Begin -->


<h2>Hangman Game Feedback</h2>


<table cellspacing="0" cellpadding="0" border="0">
	<tbody><tr>
		<td align="left"><h5>Title:</h5>
		</td>
		<td valign="top" align="left"><b><span class="userdata"><%=@hangman.title%></span></b>
		</td>
	</tr>
	<tr>
		<td align="left"><h5>Answer:</h5>
		</td>
		<td valign="top" align="left"><b><span class="userdata"><%=@hangman.guess%></span></b>
		</td>
	</tr>
	<tr>
		<td colspan="2" align="left">
			<b><%=@hangman.mylanguage.try(:name)%></b>
			&gt; <b><%=@hangman.myhangmantype.try(:name)%></b>
			&gt; <b><%=@hangman.myhangmancat.try(:name)%></b>
		</td>
	</tr>
	<!-- TR>
		<TD align=left><b>Language:</b>
		</TD>
		<TD align=left><small><%=@hangman.mylanguage.try(:name)%></small>
		</TD>
	</TR>
	<TR>
		<TD align=left><b>Type:</b>
		</TD>
		  <td valign="top"><small><%=@hangman.myhangmantype.try(:name)%></small></td>
	</TR>
	<TR>
		<TD align=left><b>Category:</b>
		</TD>
		  <td valign="top"><small><%=@hangman.myhangmancat.try(:name)%></small></td>
	</TR-->
</tbody></table>

<br>
<br>
<table class="TblInfoForm" cellspacing="0" cellpadding="2" border="0">
	<tbody><tr class="table-heading">
	  <td>
	    <b>Game Summary Statistics</b>
	  </td>
	</tr>
			
	<tr>
	  <td>
<table cellspacing="1" cellpadding="1" border="0">
	<tbody><tr>
		<td>Average Rating
		</td>
		<td><img src="images/spacer.gif" width="10" border="0">
		</td>
		<td class="userdata" align="left"><%=@hangman.moyrating%>
		</td>
	</tr>
	<tr>
		<td># of votes
		</td>
		<td><img src="images/spacer.gif" width="10" border="0">
		</td>
		<td class="userdata" align="left"><%=@hangman.countrating%>
		</td>
	</tr>
	<tr>
		<td># of Garbage Votes
		</td>
		<td><img src="images/spacer.gif" width="10" border="0">
		</td>
		<td class="userdata" align="left"><%=@hangman.countgarbage%>
		</td>
	</tr>
	<tr>
		<td># of Garbage Votes by native speakers
		</td>
		<td><img src="images/spacer.gif" width="10" border="0">
		</td>
		<td class="userdata" valign="top" align="left"><%=@hangman.countgarbagenative%>
		</td>
	</tr>
</tbody></table>
	  </td>
	</tr>
</tbody></table>


<br>
<br>
<h3>Individual Ratings and Comments</h3>
This list may differ from the summary statistics above because only approved ratings are shown.<br>
<br>

<style>
.PageNumBig {
	display: inline-block;
	padding: 6px 10px; 
	margin: 1px 0px; 
	border-radius: 4px; 
	color: gray;/*#854514;*/
	font-size: 12px;
	background-color: #f5f2f0; /*#f2f2f2; */
	border: 1px solid gray;/*#877364;*/
}
.PageNumBig:hover {
	font-size: 12px;
	background-color: #cccccc; /*#cccccc; */
}
.PageNumActive {
	display: inline-block;
	padding: 6px 10px; 
	margin: 1px 0px; 
	border-radius: 4px; 
	color: black;
	font-size: 12px;
	font-weight: bold;
	background-color: white;
	border: 1px solid #cb6a1f;
}
.PageArrow {
	display: inline-block;
	padding: 6px 24px; 
	margin: 1px 0px; 
	border-radius: 4px; 
	color: gray;/*#854514;*/
	font-size: 12px;
	background-color: #f5f2f0; /*#f2f2f2; */
	border: 1px solid gray;/*#877364;*/
}
.PageArrow:hover {
	font-size: 12px;
	background-color: #cccccc; /*#cccccc;*/
}
.PageGoBtn{
	display: inline-block;
	padding: 6px 10px; 
	margin: 1px 0px; 
	font-size: 12px;
	border: 1px outset slategray ;
}
</style>			
Total found: <%=@hangman.countrating%> !<br>
<%@hmancount=@hangman.countrating/5+1%>
<%if params[:Cnt].to_i > 1 && @hmancount > 1%>
<a class="PageArrow" style="margin-right: 3px;" href="/HmanRatings.asp?GId=14453&amp;Cnt=1"><svg class="svg-inline--fa fa-arrow-left fa-w-14" aria-hidden="true" data-prefix="fas" data-icon="arrow-left" role="img" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 448 512" data-fa-i2svg=""><path fill="currentColor" d="M257.5 445.1l-22.2 22.2c-9.4 9.4-24.6 9.4-33.9 0L7 273c-9.4-9.4-9.4-24.6 0-33.9L201.4 44.7c9.4-9.4 24.6-9.4 33.9 0l22.2 22.2c9.5 9.5 9.3 25-.4 34.3L136.6 216H424c13.3 0 24 10.7 24 24v32c0 13.3-10.7 24-24 24H136.6l120.5 114.8c9.8 9.3 10 24.8.4 34.3z"></path></svg><!-- <i class="fas fa-arrow-left"></i> --></a><!-- comment -->
<%end%>
<%=link_to_unless_current(1, hmanratings_path(GId: @hangman.id),{class:"PageNumBig"}) do 
  ("<span class=\"PageNumActive\">1</span>".html_safe)
end%>
<%if @hmancount > 1%>
<%(2..@hmancount).each do |a|%>
<%=link_to_unless_current(a, hmanratings_path(GId: @hangman.id,Cnt: a),{class:"PageNumBig"}) do 
  ("<span class=\"PageNumActive\">#{a}</span>".html_safe)
end%>
<%end%>
 
<%end%>
<%if params[:Cnt].to_i < @hmancount && @hmancount > 1%>
<a class="PageArrow" style="margin-left: 3px;" href="/HmanRatings.asp?GId=14453&amp;Cnt=2">
    <%end%>
    
    <!-- <i class="fas fa-arrow-right notranslate"></i> --></a> &nbsp;<br>
  <table class="TblSrchResults" width="99%" cellspacing="0" cellpadding="3" border="1">
  <tbody><tr class="table-heading">
    <td width="17%" valign="BOTTOM">Reviewer</td>
    <td valign="top">Comments</td>
  </tr>
   <%@ratings.each do |rating|%>
 
     <tr>
		<td valign="top">
			<%if !rating.member%>Guest<%else%>
			  <a href="MemberInfo.asp?UId=<%=rating.member_id%>"><%=rating.membername%></a>
                          <%end%>
			
		</td>
		<td valign="top">
		<table width="100%" cellspacing="1" cellpadding="0" border="0">
			<tbody><tr>
				<td>
				  
				    Rating: <span class="userdata"><%=rating.radRating%></span>
				  
				</td>
				<td align="right"><%=l(rating.created_at,format: :emailsent)%>
				</td>
			</tr>
		</tbody></table>
		  <table width="100%" cellspacing="1" cellpadding="0" border="0">
				<tbody><tr>
					<td>
					  &nbsp;<br>
					  <%if !rating.txtGuess.empty?%>
						Instead of "<span class="userdata"><%=@hangman.guess%></span>",  in English we say "<span class="userdata"><%=rating.txtGuess%></span>"<br>
					  <%end%>
					</td>
					<td valign="bottom" align="right">
					  <a href="HManMsgAdd.asp?MId=<%=rating.id%>"><small>Reply</small></a>
					</td>
				</tr>
		  </tbody></table>
		  
		</td>
     </tr>
    
     <%end%>
   </tbody></table>
   
<style>
.PageNumBig {
	display: inline-block;
	padding: 6px 10px; 
	margin: 1px 0px; 
	border-radius: 4px; 
	color: gray;/*#854514;*/
	font-size: 12px;
	background-color: #f5f2f0; /*#f2f2f2; */
	border: 1px solid gray;/*#877364;*/
}
.PageNumBig:hover {
	font-size: 12px;
	background-color: #cccccc; /*#cccccc; */
}
.PageNumActive {
	display: inline-block;
	padding: 6px 10px; 
	margin: 1px 0px; 
	border-radius: 4px; 
	color: black;
	font-size: 12px;
	font-weight: bold;
	background-color: white;
	border: 1px solid #cb6a1f;
}
.PageArrow {
	display: inline-block;
	padding: 6px 24px; 
	margin: 1px 0px; 
	border-radius: 4px; 
	color: gray;/*#854514;*/
	font-size: 12px;
	background-color: #f5f2f0; /*#f2f2f2; */
	border: 1px solid gray;/*#877364;*/
}
.PageArrow:hover {
	font-size: 12px;
	background-color: #cccccc; /*#cccccc;*/
}
.PageGoBtn{
	display: inline-block;
	padding: 6px 10px; 
	margin: 1px 0px; 
	font-size: 12px;
	border: 1px outset slategray ;
}
</style>			
Total found: <%=@hangman.countrating%> !<br>



<%@hmancount=@hangman.countrating/5+1%>
<%if params[:Cnt].to_i > 1 && @hmancount > 1%>
<a class="PageArrow" style="margin-right: 3px;" href="/HmanRatings.asp?GId=14453&amp;Cnt=1"><svg class="svg-inline--fa fa-arrow-left fa-w-14" aria-hidden="true" data-prefix="fas" data-icon="arrow-left" role="img" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 448 512" data-fa-i2svg=""><path fill="currentColor" d="M257.5 445.1l-22.2 22.2c-9.4 9.4-24.6 9.4-33.9 0L7 273c-9.4-9.4-9.4-24.6 0-33.9L201.4 44.7c9.4-9.4 24.6-9.4 33.9 0l22.2 22.2c9.5 9.5 9.3 25-.4 34.3L136.6 216H424c13.3 0 24 10.7 24 24v32c0 13.3-10.7 24-24 24H136.6l120.5 114.8c9.8 9.3 10 24.8.4 34.3z"></path></svg><!-- <i class="fas fa-arrow-left"></i> --></a><!-- comment -->
<%end%>
<%=link_to_unless_current(1, hmanratings_path(GId: @hangman.id),{class:"PageNumBig"}) do 
  ("<span class=\"PageNumActive\">1</span>".html_safe)
end%>
<%if @hmancount > 1%>
<%(2..@hmancount).each do |a|%>
<%=link_to_unless_current(a, hmanratings_path(GId: @hangman.id,Cnt: a),{class:"PageNumBig"}) do 
  ("<span class=\"PageNumActive\">#{a}</span>".html_safe)
end%>
<%end%>
 
<%end%>
<%if params[:Cnt].to_i < @hmancount && @hmancount > 1%>
<a class="PageArrow" style="margin-left: 3px;" href="/HmanRatings.asp?GId=14453&amp;Cnt=2">
    <%end%>
    
    
    <br>
  <a href=""><b>Play Another Game</b></a>

<br>

				<br>
				<br>
				<!-- FB Like -->
				<div class="fb-like fb_iframe_widget" data-href="https://www.mylanguageexchange.com/HmanRatings.asp?GId=14453" data-layout="button_count" data-action="like" data-size="small" data-show-faces="true" data-share="true" fb-xfbml-state="rendered" fb-iframe-plugin-query="action=like&amp;app_id=&amp;container_width=846&amp;href=https%3A%2F%2Fwww.mylanguageexchange.com%2FHmanRatings.asp%3FGId%3D14453&amp;layout=button_count&amp;locale=en_US&amp;sdk=joey&amp;share=true&amp;show_faces=true&amp;size=small"><span style="vertical-align: top; width: 0px; height: 0px; overflow: hidden;"><iframe name="f146507492270ce" data-testid="fb:like Facebook Social Plugin" title="fb:like Facebook Social Plugin" allowtransparency="true" allowfullscreen="true" scrolling="no" allow="encrypted-media" style="border: medium none; visibility: visible; width: 0px; height: 0px;" src="https://www.facebook.com/v2.9/plugins/like.php?action=like&amp;app_id=&amp;channel=https%3A%2F%2Fstaticxx.facebook.com%2Fx%2Fconnect%2Fxd_arbiter%2F%3Fversion%3D46%23cb%3Df2175d832a9608c%26domain%3Dwww.mylanguageexchange.com%26is_canvas%3Dfalse%26origin%3Dhttps%253A%252F%252Fwww.mylanguageexchange.com%252Ff9a198f71594c8%26relation%3Dparent.parent&amp;container_width=846&amp;href=https%3A%2F%2Fwww.mylanguageexchange.com%2FHmanRatings.asp%3FGId%3D14453&amp;layout=button_count&amp;locale=en_US&amp;sdk=joey&amp;share=true&amp;show_faces=true&amp;size=small" width="1000px" height="1000px" frameborder="0"></iframe></span></div>				
				&nbsp;&nbsp;
                </td>
