<td style="padding: 5px;" width="100%" valign="top">
				

                <!-- Page Begin -->


<h2>Add to the Club Library (your Member Notepad)</h2>

<b>Your entry has been saved.</b><br><br>

<br>

	<b><a href="Notepad.asp?lang1=<%=@notepad.language1.try(:id)%>&amp;lang2=<%=@notepad.language2.try(:id)%>&amp;hidProc=1&amp;show=2&amp;bars=">View my <%=@notepad.language1.try(:name)%>-<%=@notepad.language2.try(:name)%> entries</a></b>.<br>

<b><a href="Notepad.asp?lang1=&amp;lang2=&amp;hidProc=1&amp;srch=&amp;show=2&amp;bars=">View all my entries</a></b> 
(your Member Notepad).<br>
<b><a href="Notepad.asp?show=2&amp;bars=">View Club Library</a></b><br>

  

				<br>
				<br>
				<!-- FB Like -->
				<div class="fb-like fb_iframe_widget" data-href="https://www.mylanguageexchange.com/NotepadAdd.asp?lang1=<%=@notepad.language1.try(:id)%>&amp;lang2=49&amp;show=2&amp;bars=&amp;lang=" data-layout="button_count" data-action="like" data-size="small" data-show-faces="true" data-share="true" fb-xfbml-state="rendered" fb-iframe-plugin-query="action=like&amp;app_id=&amp;container_width=846&amp;href=https%3A%2F%2Fwww.mylanguageexchange.com%2FNotepadAdd.asp%3Flang1%3D22%26lang2%3D49%26show%3D2%26bars%3D%26lang%3D&amp;layout=button_count&amp;locale=en_US&amp;sdk=joey&amp;share=true&amp;show_faces=true&amp;size=small"><span style="vertical-align: top; width: 0px; height: 0px; overflow: hidden;"><iframe name="f224809d044e106" data-testid="fb:like Facebook Social Plugin" title="fb:like Facebook Social Plugin" allowtransparency="true" allowfullscreen="true" scrolling="no" allow="encrypted-media" style="border: medium none; visibility: visible; width: 0px; height: 0px;" src="https://www.facebook.com/v2.9/plugins/like.php?action=like&amp;app_id=&amp;channel=https%3A%2F%2Fstaticxx.facebook.com%2Fx%2Fconnect%2Fxd_arbiter%2F%3Fversion%3D46%23cb%3Df38ece48d2fee2c%26domain%3Dmylanguageexchange.com%26is_canvas%3Dfalse%26origin%3Dhttps%253A%252F%252Fmylanguageexchange.com%252Ff25be289f18685e%26relation%3Dparent.parent&amp;container_width=846&amp;href=https%3A%2F%2Fwww.mylanguageexchange.com%2FNotepadAdd.asp%3Flang1%3D22%26lang2%3D49%26show%3D2%26bars%3D%26lang%3D&amp;layout=button_count&amp;locale=en_US&amp;sdk=joey&amp;share=true&amp;show_faces=true&amp;size=small" width="1000px" height="1000px" frameborder="0"></iframe></span></div>				
				&nbsp;&nbsp;
                </td>
